{
  "plugins": ["jest"],
  "parserOptions": {
    "sourceType": "script"
  },
  "env": {
    "jest": true,
    "jest/globals": true
  },
  "extends": ["plugin:eslint-plugin/recommended"],
  "rules": {}
}
